/* Navbar */
.navbar {
  background-color: #000; /* black */
  padding: 1rem;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff; /* white */
  text-decoration: none;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navbar-right li {
  margin-right: 20px;
}

.navbar-right a {
  color: #fff; /* white */
  text-decoration: none;
  transition: color 0.5s;
}

.navbar-right a:hover {
  color: #ccc; /* light gray */
}

.subtitles {
  font-size: 3rem;
  text-align: center;
  padding: 3%;
}

/* Title Container */
.title-container {
  background-image: url('background-image.jpg'); /* add a background image */
  background-size: cover;
  background-position: center;
  padding: 2rem;
  text-align: center;
  color: #fff; /* white */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff; /* white */
  margin-bottom: 1rem;
}

.title-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
}

.paragraph {
  font-size: 1rem;
  padding-left: 20%;
  padding: 1%;
}

/* Carousel */
.carousel-inner {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.carousel-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  align-items: center;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.carousel-control-prev, .carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-img {
  width: 50%;
  height: 50vh; 
  object-fit: cover;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Skills */
.skills {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.card {
  border-radius: 10px;
  margin: 10px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0.1%;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

skill-card {
  width: 100%;
  border-radius: 10px;
}

.skill-card .card-body {
  color: #000;
  text-align: center;
}

/* General */
body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

section {
  padding: 2rem;
}

.footer {
  width: 100%;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

.container {
  max-width: 100%;
  padding: 0 20px;
}

.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin: 0 10px;
}

.social-links a {
  color: #fff;
  transition: color 0.2s ease;
}

.social-links a:hover {
  color: #ccc;
}

.back-to-top {
  margin-top: 20px;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.back-to-top:hover {
  background-color: #444;
  color: #fff;
  align-items: center;
}

.copyright {
  font-size: 14px;
  margin-top: 10px;
}